<mat-toolbar class="nav--main">
  <div class="nav--main-container">
    <span class="nav-brand">Tinder Clone</span>
    <ul class="nav-navigation">
      <li class="nav-navigation-item">
        <button mat-flat-button>SIGNUP</button>
      </li>
      <li class="nav-navigation-item item-text">Support</li>
      <li class="nav-navigation-item item-text">Safety</li>
      <li class="nav-navigation-item item-text">Learn</li>
      <li class="nav-navigation-item item-text">Products</li>
    </ul>
  </div>
</mat-toolbar>
