<mat-toolbar class="nav--main">
  <div class="nav--main-container">
    <span class="nav-brand">Tinder Clone</span>
    <ul class="nav-navigation">
      <li matRipple [matRippleColor]="'rgba(112,33, 336, .1)'" class="nav-navigation-item item-text" routerLink="account">
        SIGNUP
      </li>
      <li matRipple [matRippleColor]="'rgba(112,33, 336, .1)'" class="nav-navigation-item item-text">Support</li>
      <li matRipple [matRippleColor]="'rgba(112,33, 336, .1)'" class="nav-navigation-item item-text">Safety</li>
      <li matRipple [matRippleColor]="'rgba(112,33, 336, .1)'" class="nav-navigation-item item-text">Learn</li>
      <li matRipple [matRippleColor]="'rgba(112,33, 336, .1)'" class="nav-navigation-item item-text" routerLink="products">Products</li>
    </ul>
  </div>
</mat-toolbar>
