@import '../../../../assets/styles/colors';


.tinder-clone--button{
    padding: 10px 5px;
    background-color: $color-blue-700;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
}   

