<section class="generic-error--main">
    <div class="error-content">
        <div class="error-svg-container"></div>
        <div class="error-details-container">
            <p class="error-message-line">
                Something went wrong! 
            </p>
            <p class="tinder-clone-contact-details">
                Please contact our support team.
                <span>04 1000 20 3000</span>
                <span>Or email us at support@tinderclone.com</span>
            </p>
        </div>
    </div>
</section>