<section class="auth--main">
  <div class="signup--form-container">
    <div class="heading--text">
      <h3>New Membership</h3>
    </div>
    <tinder-clone-stepper [linearMode]="true">
      <cdk-step label="Account details" [completed]="true">
        <tinder-clone-member-account-details
          [memberRegistrationForm]="memberRegistrationForm"
        ></tinder-clone-member-account-details>
      </cdk-step>

      <cdk-step label="Personal Details" [completed]="true">
        <tinder-clone-member-profile-details
          [memberRegistrationForm]="memberRegistrationForm"
        ></tinder-clone-member-profile-details>
      </cdk-step>
    </tinder-clone-stepper>
  </div>
</section>
