/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './assets/styles/colors';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field{
    width: 100%;
}

.btn-block{
    width: 100%;
}

.autoWidth{
    width: 100%!important;
}

.disabled{
    opacity: .6
}

@mixin mat-ripple-theme($theme) {
    .mat-ripple-element {
        background-color: rgba(207, 17, 17, 0.4);
    }
}
  
.mat-progress-spinner circle, .mat-spinner circle{
    stroke: $color-blue-700!important;
}